.sidebar{
	margin-top: 20px;
}

.paraf {
	font-family: Verdana, Geneva, sans-serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #f05757;
    color: #FFC0CB;
}

body {
    background-color: #fcf4af;
}

/*
#big {
    background: url(../images/skulls.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

/*
.size {
	width: 50%;
	height: 20%;
}
*/